_form.html.erb
<%= form_for @product, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :to %></br>
    <%= f.text_field :to %>
  </div>
  <div class="form-group">
    <%= f.label :from %></br>
    <%= f.text_field :from %>
  </div>

  <div class="form-group">
    <%= f.label :body %></br>
    <%= f.text_field :body %>
  </div>





  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
