<%= render("layouts/errors", :object => @message) %>
<%= form_for @message do |f| %>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :to %></br>
      <%= f.text_field :to, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :from %></br>
      <%= f.text_field :from, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :body %></br>
      <%= f.text_field :body, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group" id="submit">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
