<%= form_for @contact do |f| %>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :name %></br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :number %></br>
      <%= f.text_field :number, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :email %></br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div><br><br><br>

  <div class="form-group" id="submit">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
